    <div class="container">
        <div class="row">
          <div class="col-4 mt-3 " *ngFor="let videojuegos of Videojuegos">
            <div class="card"  style="width: 300px">
                <img src={{videojuegos.cover}} class="card-img-top" alt="Videojuego"  style="width: 100%;">
                <div class="card-body" >
                    <h5 class="card-title">{{videojuegos.title}}</h5>
                    <h6>Valoración media: {{videojuegos.rating}}</h6>
                    <h6>Compañía: {{videojuegos.company}}</h6>
                    <a href="#" class="btn btn-primary">Más información</a>
                </div>
              </div>
          </div>
        </div>
      </div>