<div class="contaier">
  
  <h2 style="text-align:center">Nuestro equipo</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/img/raul.jpg" alt="Raul" style="width:100%">
        <div class="container">
          <h2>Raul Garcia</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>raul@example.com</p>
          <p><button class="button ">Contacto</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/img/alvaro.jpg" alt="Alvaro" style="width:100%">
        <div class="container">
          <h2>Álvaro Bustos</h2>
          <p class="title">Programador</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>alvaro@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/img/carlos.jpg" alt="Carlos" style="width:100%">
        <div class="container">
          <h2>Carlos Xavier</h2>
          <p class="title">Diseñador</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>carlos@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>